.idea
__pycache__
db.sqlite3
dump.rdb
celerybeat-schedule
ecommerce_project/media/*
!ecommerce_project/media/.gitkeep
!ecommerce_project/pictures
ecommerce_project/media/pictures/*
!ecommerce_project/media/pictures/.gitkeep

!ecommerce_project/media/thumbnails
ecommerce_project/media/thumbnails/*
!ecommerce_project/thumbnails/.gitkeep

venv

